.app {
  text-align: center;
  min-height: 100vh;
  background-color: #0094c6;
  position: relative;
}

.art-container {
  width: 67vw;
  min-height: 73vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.modal {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
  border: none;
}

.modal:focus {
  outline: none;
}