.app {
  text-align: center;
  min-height: 100vh;
}

.art-container {
  width: 67vw;
  min-height: 73vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}